// app global css in SCSS form
@font-face {
  font-family: Regular-sarabun;
  src: url(../assets/Sarabun-Regular.ttf);
}

@font-face {
  font-family: Bold-sarabun;
  src: url(../assets/Sarabun-Bold.ttf);
}

body {
  /* font-family: Sarabun-Regular; */
  font-family: Regular-sarabun;
  font-size: calc(14px);

}

// @media screen and (min-width: 320px) {
//   body {
//     font-size: clamp(8px, 3vw, 22px);
//   }
// }

// @media screen and (min-width: 1000px) {
//   body {
//     font-size: 14px;
//   }
// }

// มือถือ ขนาดของเนื้อหา
.f8-m {
  font-size: min(max(8px, 3vw), 14px);
}

.f9-m {
  font-size: min(max(9px, 3vw), 16px);
}

.f10-m {
  font-size: min(max(10px, 4vw), 10px);
}

.f12-m {
  font-size: min(max(12px, 4vw), 12px);
}


.f14-m {
  font-size: min(max(14px, 4vw), 18px);
}

.f16-m {
  font-size: min(max(16px, 4vw), 16px);
}

// pc
.f9-pc {
  font-size: calc(9px);
}

.f10-pc {
  font-size: calc(10px);
}

.f16-pc {
  font-size: calc(16px);
}

.f18-pc {
  font-size: calc(18px);
}

.f20-pc {
  font-size: calc(20px);
}

.f24-pc {
  font-size: calc(24px);
}

// color
.brx {
  border: 1px solid red;
}

.lightgraycl {
  color: #EBEBEB;
}

.lightgraybg {
  background: #EBEBEB;
}

.greencl {
  color: #209F85;
}

.greenbg {
  background: #209F85;
}

.seagreencl {
  color: #B7DDCD;
}

.seagreenbg {
  background: #B7DDCD;
}

.mintcl {
  color: #F2F8F1;
}

.mintbg {
  background: #F2F8F1;
}
