// app global css in SCSS form
@font-face {
  font-family: Regular-sarabun;
  src: url(../assets/Sarabun-Regular.ttf);
}

@font-face {
  font-family: Bold-sarabun;
  src: url(../assets/Sarabun-Bold.ttf);
}

body {
  /* font-family: Sarabun-Regular; */
  font-family: Regular-sarabun;
  font-size: calc(14px);
}

.f8 {
  font-size: calc(8px);
}

.f9 {
  font-size: calc(9px);
}

.f10 {
  font-size: calc(10px);
}

.z16 {
  font-size: calc(16px);
}

.f18 {
  font-size: calc(18px);
}

.f20 {
  font-size: calc(20px);
}

.f24 {
  font-size: calc(24px);
}

// color
.brx {
  border: 1px solid red;
}

.lightgraycl {
  color: #EBEBEB;
}

.lightgraybg {
  background: #EBEBEB;
}

.greencl {
  color: #209F85;
}

.greenbg {
  background: #209F85;
}

.seagreencl {
  color: #B7DDCD;
}

.seagreenbg {
  background: #B7DDCD;
}

.mintcl {
  color: #F2F8F1;
}

.mintbg {
  background: #F2F8F1;
}
